body{
    background-color: blanchedalmond;
}
h1{
    font: size 900px; ;
    color: darkslategrey;
    text-align: center;
}
img{
    width: 600px;
    height: 400px;
    margin: left 400px;
}
.esporte{
    background-color: lightseagreen;
    display: flex;
}
.logoimg{
    width: 125px;
    height: 125px;
}
.itemlistaesporte{
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
}
.itemlistaesporte{
    list-style: none;
    text-transform: uppercase;
    font-size: 30px;
    color: black;
    padding: 30px;

}